name: MEAN CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build Backend
        working-directory: backend
        run: |
          npm install
          npm test || true

      - name: Build Frontend
        working-directory: frontend
        run: |
          npm install
          npm run build

      - name: Docker Build
        run: docker compose build
